<div class="top-row pl-4 navbar navbar-dark">
    <h6>Opciones</h6>
   @* <a class="navbar-brand" href="">Opciones</a>*@
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

@*<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <AuthorizeView>
             <li class="nav-item px-3">
            <NavLink class="nav-link" href="/tablero" Match="NavLinkMatch.All">
                <span class="oi oi-list" aria-hidden="true"></span> Tickets
            </NavLink>
             </li>
        </AuthorizeView>
         <AuthorizeView Roles="Admin">
             <li class="nav-item px-3">
            <NavLink class="nav-link" href="/tableroingenieros" Match="NavLinkMatch.All">
                <span class="oi oi-list" aria-hidden="true"></span> Tickets Ingenieros
            </NavLink>
             </li>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
             <li class="nav-item px-3">
            <NavLink class="nav-link" href="/configuraciones" Match="NavLinkMatch.All">
                <span class="oi oi-dashboard" aria-hidden="true"></span> Configuraciones
            </NavLink>
             </li>
        </AuthorizeView>

        
    </ul>
</div>*@

<MudNavMenu>
   
    <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Inicio</MudNavLink>
     <AuthorizeView>
        <MudNavLink Href="/tablero" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Assignment">Tickets</MudNavLink>
    </AuthorizeView>
    <AuthorizeView Roles="Admin"> 
        <MudNavLink Href="/tableroingenieros" Icon="@Icons.Material.Filled.FormatListBulleted" Match="NavLinkMatch.Prefix">Tablero Ingeniero</MudNavLink>
        <MudNavLink Href="/configuraciones" Icon="@Icons.Material.Filled.SettingsApplications" Match="NavLinkMatch.Prefix">Sistema</MudNavLink>
    </AuthorizeView>
   
</MudNavMenu>





@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
