@page "/TicketdetailsIngeniero"
@page "/TicketdetailsIngeniero/{id:int}"

@inject NavigationManager navigation
@inject IservicesTicket servicesticket
@inject IservicesIngeniero ServicesIngeniero


<h3></h3>


@if (ticket == null)
{
    <div class="d-flex align-items-center">
  <strong>Cargando...</strong>
  <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
    </div>
}else
{
    
    <EditForm Model="ticket" OnValidSubmit="Guardar" >

        <div class="card"> 
          <h5 class="card-header">Formulario de Ticket</h5>
          <div class="card-body">
              <div class="container">

                  <div class="row">
                      <div class="col-md-6 mb-3">
                            <MudTextField @bind-Value="ticket.Usuario"Label="Usuario" Variant="Variant.Text" Margin="Margin.Dense"></MudTextField>
                      </div>
                       <div class="col-md-3 ">                     
                        <MudDatePicker Label="Fecha" @bind-Value="ticket.Fecha" />
                      </div>
                        <div class="col-md-4 mb-3">
                       <MudSelect T="string" Label="Estado" @bind-Value="ticket.Estado">
                             <MudSelectItem Value="@("Abierto")"/>
                             <MudSelectItem Value="@("En Proceso")"/>
                             <MudSelectItem Value="@("Resuelto")"/>
                             <MudSelectItem Value="@("Cerrado")"/>
                       </MudSelect>


                      </div>
                        <div class="col-md-4 mb-3">
                             <MudSelect T="string" Label="Prioridad" @bind-Value="ticket.prioridad">
                                <MudSelectItem Value="@("Baja")"/>
                                <MudSelectItem Value="@("Media")"/>
                                <MudSelectItem Value="@("Alta")"/>
                                <MudSelectItem Value="@("Urgente")"/>
                             </MudSelect>
                      </div>
                        <div class="col-md-6 mb-3">
                          <MudTextField @bind-Value="ticket.Asunto"Label="Asunto" Variant="Variant.Text" Margin="Margin.Dense"></MudTextField>
                      </div>
                      <div class="col-md-4 mb-3">
                              <MudSelect @bind-Value="@ticket.Ingeniero" Label="Asignar Ingeniero">
                                   @foreach ( var item in ingeniero)
                                     {
                                        <MudSelectItem Value="@item.ingeniero">@item.ingeniero</MudSelectItem>
                                     }
                              </MudSelect>

                      </div>

                        <div class="col-md-12 mb-3">
                          <label for="">Mensaje</Label>
                            <MudTextField @bind-Value="ticket.Mensaje"Label="Describa el problema" Variant="Variant.Text" Margin="Margin.Dense" ></MudTextField>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-mb-4 mb-3">

                      </div>
                      <div class="col-md-4 mb-3">
                          <input type="submit" class="btn btn-success" value="Guardar"/>
                           <input type="button" class="btn btn-secundary" value="Cancelar" >
                      </div>
                      <div class="col-mb-4 mb-3">

                      </div>

                  </div>


              </div>
          </div>
        </div>


    </EditForm>




}




@code {
    public Ticket ticket;
    DateTime? date = DateTime.Today;
    IEnumerable<Ingeniero> ingeniero;
    

    [Parameter]
    public int id { get; set; }

    protected async override Task OnInitializedAsync()
    {
        try
        {
           
            ingeniero = await ServicesIngeniero.GetIngenieros();

            if (id == 0)

                ticket = new Ticket();

            else
                ticket = await servicesticket.GetDetails(id);
                ticket.Fecha = DateTime.Today;


        }
        catch (Exception e)
        {
            throw e;
        }

    }

    private async Task Guardar()
    {
        await servicesticket.SaveTicket(ticket);
        Home();
        
    }

    private async Task Home()
    {
        navigation.NavigateTo("/tablero");
    }



}
